{% extends 'app/base.html.twig' %}

{% block body %}
    <div class="container text-center py-5">
        <h1 class="mb-5">Тестовое задание ТМК</h1>
        <div class="container">
            <div class="d-flex justify-content-center">
                <div><a class="btn btn-outline-primary mx-2" href="{{ path('article.new') }}">Создать статьи</a></div>
                <div><a class="col btn btn-outline-primary mx-2" href="{{ path('article.index', {
                        'active': 1
                    }) }}">К списку статей</a></div>
            </div>
        </div>
    </div>
{% endblock %}
